<header class="header">
  <div class="header-content">
    <a routerLink="/"class="header-content-logo">
      <img src="../../../assets/logo.svg" />
    </a>

    <nav [ngClass]="width < 1000 && menuOpen ? 'header-content-nav is-menu' : 'header-content-nav'">

      <ul>
        <li>
          <a routerLink="conferences">Conferences</a>
        </li>
        <li>
          <a routerLink="about">About</a>
        </li>
      </ul>

      <div class="buttons">
        <div class="search-box">
          <mat-icon aria-hidden="false" aria-label="Search icon" class="search-icon">search</mat-icon>
          <input type="text" name="search" id="search-input" autocomplete="off" placeholder="Search">
        </div>
        <a *ngIf="!status" (click)="logIn()" href="/">Log In</a>
        <a *ngIf="status" (click)="logOut()" href="/">Log Out</a>
      </div>

    </nav>

    <div class="header-content-toggle">
      <!-- Buttons -->
      <mat-icon aria-hidden="false" aria-label="menu icon" (click)="handleMenu()">
        {{menuOpen ? 'close' : 'menu'}}
      </mat-icon>
    </div>

  </div>
</header>
