<header class="header">
  <div class="header-content">
    <a href="/" class="header-content-logo">
      <img src="../../../assets/logo.svg" />
    </a>

    <nav [ngClass]="width < 768 && menuOpen ? 'header-content-nav is-menu' : 'header-content-nav'">

      <ul>
        <li>
          <a href="#">Conferences</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>

      <div class="buttons">
        <input type="text" name="search" id="search-box" autocomplete="off">
        <a href="">Register</a>
        <a href="">Login</a>
      </div>

      <div class="header-content-toggle">
        <!-- Buttons -->
      </div>

    </nav>

  </div>
</header>
